<div class="beverages_page_product_tile_card">
        <div class="beverages_product_tile_card">
                <span>
                        <div class="product_tile_texts">
                                <p class="beverages_header_text">Beverages</p>
                                <span class="store_description store_description_internal">Find your favorite tastes</span>
                                <!-- <img src="cashew.jpg" alt=""> -->
                                <div class="card_links cereals_page_card_links">
                                        <p><a href="">Learn more</a></p>
                                        <div>
                                                <a class="buy_link" href="">Shop</a>
                                        </div>
                                </div>
                        </div>

                </span>
        </div>
        
</div>