<div class="building_products_page_product_tile_card">
        <div class="building_products_product_tile_card">
                <span>
                        <div class="product_tile_texts">
                                <p class="building_products_header_text">Building products</p>
                                <span class="store_description store_description_internal">Lets help you build your dream home</span>
                                <!-- <img src="cashew.jpg" alt=""> -->                                                        
                                <div class="card_links cereals_page_card_links">
                                        <p><a href="">Learn more</a></p>
                                        <div>
                                                <a class="buy_link" href="/building_products">Buy</a>
                                        </div>
                                </div>
                        </div>

                </span>
        </div>
                
</div>