<div class="scroll">
        <% for ( const building_product of building_products ) { %>
                <div class="product_tile_card">
                        <div class="building_products_product_tile_card">
                                <span>
                                        <div class="product_tile_texts">
                                                <p><%= building_product.name %></p>
                                                <span class="store_description store_description_internal"><%= building_product.description %></span>
                                                <img src="<%= building_product.image %>" alt="">
                                                <div class="card_links">
                                                        <p><a href="">Learn more</a></p>
                                                        <a class="buy_link" href="">Buy</a>
                                                </div>
                                        </div>
                        
                                </span>
                        </div>
                </div>
        <% } %>
</div>