<div class="cashew_page_product_tile_card">
        <div class="cashew_product_tile_card">
                <span>
                        <div class="product_tile_texts">
                                <p class="cashew_header_text">cashew</p>
                                <span class="store_description store_description_internal">Feel the local boom in production</span>
                                <!-- <img src="cashew.jpg" alt=""> -->
                                <div class="card_links cashew_page_card_links">
                                        <p><a href="">Learn more</a></p>
                                        <div>
                                                <a class="buy_link" href="/cashew">Shop</a>
                                        </div>
                                </div>
                        </div>

                </span>
        </div>
        
</div>