<div class="cereals_page_product_tile_card">
        <div class="cereals_product_tile_card">
                <span>
                        <div class="cereals_product_tile_texts">
                                <p class="cereasl_header_text">cereals</p>
                                <span class="store_description store_description_internal">healthy seeds, right for production</span>
                                <!-- <img src="cashew.jpg" alt=""> -->
                                <div class="card_links cereals_page_card_links">
                                        <p><a href="">Learn more</a></p>
                                        <div>
                                                <a class="buy_link" href="">Shop</a>
                                        </div>
                                </div>
                        </div>

                </span>
        </div>
</div>
