<footer>
        <span>
                
                <div>
                        <p class="footer_bolden_head">
                                Services
                        </p>
                        
                        <p class="paragraph_width">
                                <a href="">Order</a>
                        </p>
                        <p class="paragraph_width">
                                <a href="">Delivery</a>
                        </p>
                        <p class="paragraph_width">
                                <a href="">Booking</a>
                        </p>
                        
                </div>
                <div>
                        <p class="footer_bolden_head">
                                Barson stores
                        </p>
                        <p class="paragraph_width">
                                <a href="">Find a store</a>
                        </p>
                        <p class="paragraph_width">
                                <a href="">Shopping aide</a>
                        </p>
                        
                </div>
                
                <div>
                        <p class="footer_bolden_head">
                                Apps
                        </p>
                        <p class="paragraph_width">
                                <a href="">iOS App</a>
                        </p>
                        <p class="paragraph_width">
                                <a href="">Android App</a>
                        </p>
                        <p class="paragraph_width">
                                <a href="">Desktop App</a>
                        </p>
                </div>
                <div>
                        <p class="footer_bolden_head">
                                About Barson
                        </p>
                        <p class="paragraph_width">
                                <a href="">Contact Barson</a>
                        </p>
                        <p class="paragraph_width">
                                <a href="">Barson Leadership</a>
                        </p>
                        <p class="paragraph_width">
                                <a href="">Newsflash</a>
                        </p>
                </div>
        </span>

        <div id="copy">
                <a href="">privacy policy</a> |
                <a href="">terms of use</a> |
                <a href="">sales & refund</a> |
                <a href="">legal</a>
                <p>&copy; Solomon Inc. All rights reserved</p>
        </div>
</footer>