<header>
        <nav>
                <!-- company logo -->
                <h1>
                        <a href="/">
                                <span class="logo_bar_color">bar</span>
                                <span>son</span>
                        </a>
                </h1>

                <ul>
                        <li><a href="/store">store</a></li>
                        <li><a href="/cashew">cashew</a></li>
                        <li><a href="/beverages">beverages</a></li>
                        <li><a href="/cereals">cereals</a></li>
                        <li><a href="/grains">grains</a></li>
                        <li><a href="/car_services">car services</a></li>
                        <li><a href="/building_products">building products</a></li>
                        <li>
                                <a href="">
                                        <span class="material-symbols-outlined">search</span>
                                </a>
                        </li>
                        <li>
                                <a href="/shop">
                                        <span class="material-symbols-outlined">shopping_bag</span>
                                </a>
                        </li>

                </ul>

                <span class="menu-btn">
                        <a href="#side-drawer" >
                                <span class="material-symbols-outlined">menu</span>
                        </a>
                </span>
                
                
                
        </nav>
        
</header>
