<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>barson</title>
        <link rel="stylesheet" href="/styles/styles.css">
        <link rel="stylesheet" href="/styles/header_styles.css">
        <link rel="stylesheet" href="/styles/footer_styles.css">
        <link rel="stylesheet" href="/styles/beverages_styles.css">
        <link rel="stylesheet" href="/styles/grains_styles.css">
        <link rel="stylesheet" href="/styles/cereals_styles.css">
        <link rel="stylesheet" href="/styles/cashew_styles.css">
        <link rel="stylesheet" href="/styles/car_services_styles.css">
        <link rel="stylesheet" href="/styles/building_products_style.css">
        <link rel="stylesheet" href="/styles/tile_card_styles.css">
        <link rel="stylesheet" href="/styles/shop_styles.css">
        <link rel="shortcut icon" href="/public/images/barson_logo_2.jpeg" type="image/x-icon">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
        <!-- Navigation bar -->
        <header>
                <nav>
                        <!-- company logo -->
                        <h1><a href="/"><span class="logo_bar_color">bar</span><span>son</span></a></h1>

                        <ul>
                                <li><a href="/store">store</a></li>
                                <li><a href="/cashew">cashew</a></li>
                                <li><a href="/beverages">beverages</a></li>
                                <li><a href="/cereals">cereals</a></li>
                                <li><a href="/grains">grains</a></li>
                                <li><a href="/car_services">car services</a></li>
                                <li><a href="/building_products">building products</a></li>
                                <li>
                                        <a href="">
                                                <span class="material-symbols-outlined">search</span>
                                        </a>
                                </li>
                                <li>
                                        <a href="/shop">
                                                <span class="material-symbols-outlined">shopping_bag</span>
                                        </a>
                                </li>
                        </ul>
                </nav>
        </header>

        <main>
                
        </main>

        <!-- Footer -->

        <footer>
                <span>
                        
                        <div>
                                <p class="footer_bolden_head">
                                        Services
                                </p>
                                
                                <p class="paragraph_width">
                                        <a href="">Order</a>
                                </p>
                                <p class="paragraph_width">
                                        <a href="">Delivery</a>
                                </p>
                                <p class="paragraph_width">
                                        <a href="">Booking</a>
                                </p>
                                
                        </div>
                        <div>
                                <p class="footer_bolden_head">
                                        Barson stores
                                </p>
                                <p class="paragraph_width">
                                        <a href="">Find a store</a>
                                </p>
                                <p class="paragraph_width">
                                        <a href="">Shopping aide</a>
                                </p>
                                
                        </div>
                        
                        <div>
                                <p class="footer_bolden_head">
                                        Apps
                                </p>
                                <p class="paragraph_width">
                                        <a href="">iOS App</a>
                                </p>
                                <p class="paragraph_width">
                                        <a href="">Android App</a>
                                </p>
                                <p class="paragraph_width">
                                        <a href="">Desktop App</a>
                                </p>
                        </div>
                        <div>
                                <p class="footer_bolden_head">
                                        About Barson
                                </p>
                                <p class="paragraph_width">
                                        <a href="">Contact Barson</a>
                                </p>
                                <p class="paragraph_width">
                                        <a href="">Barson Leadership</a>
                                </p>
                                <p class="paragraph_width">
                                        <a href="">Newsflash</a>
                                </p>
                        </div>
                </span>
                
                <!-- <ul>
                        
                        <li id="twitter">
                                <a href="">
                                        <img src="/images/icons/twitter.png" alt="twitter">
                                </a>
                        </li>
                        <li>
                                <a href="telegram">
                                        <img src="/images/icons/telegram.png" alt="telegram">
                                </a>
                        </li>
                </ul>
                <ul id="partner">
                        <li>
                                <a href="">Become a teacher</a>
                        </li>
                </ul> -->

                <div id="copy">
                        <a href="">privacy policy</a> |
                        <a href="">terms of use</a> |
                        <a href="">sales & refund</a> |
                        <a href="">legal</a>
                        <p>&copy; Solomon Inc. All rights reserved</p>
                </div>
        </footer> 
</body>
</html>