<!DOCTYPE html>
<html lang="en">
<head> 
        <%- include('includes/head') %> 
                <link rel="stylesheet" href="styles/shop_styles.css">
        </meta>
</head>
<body>
        <!-- Navigation bar -->
        <%- include('includes/header') %> 

        <main>
                <div>
                        <h1>
                                <span class="h1_text">Your Cart.</span>
                        </h1>
                </div>
        </main>

        <!-- Footer -->
        <%- include('includes/footer') %> 
</body>
</html>