<!DOCTYPE html>
<html lang="en">
<head>
        <%- include('includes/head') %> 
</head>
<body>
        <!-- Navigation bar -->
        <%- include('includes/header') %>
        <%- include('includes/aside') %> 

        <!-- Main Content -->

        <main>
                <div>
                        <h1>       
                                <span class="h1_text">Store</span>
                                <span class="store_description">All your needs in one place.</span>
                        </h1>
                </div>

                <hr>
                <!-- Tile cards -->
                <div class="scroll">
                        <div class="product_tile_card">
                                <div class="cashew_product_tile_card">
                                        <span>
                                                <div class="product_tile_texts">
                                                        <p>Cashew</p>
                                                        <span class="store_description store_description_internal">Ready for market</span>
                                                        <img src="/images/cashew-removebg.png" alt="">
                                                </div>
                
                                                <div class="card_links">
                                                        <p><a href="">Learn more</a></p>
                                                        <a class="buy_link" href="">Buy</a>
                                                </div>
                                        </span>
                                </div>
                        </div>
                        <div class="product_tile_card">
                                <div class="beverages_product_tile_card">
                                        <span>
                                                <div class="product_tile_texts">
                                                        <p>Beverages</p>
                                                        <span class="store_description store_description_internal">Find your favorite tastes</span>
                                                        <img src="/images/bev-removebg-preview.png" alt="">
                                                        <div class="card_links">
                                                                <p><a href="">Learn more</a></p>
                                                                <a class="buy_link" href="">Buy</a>
                                                        </div>
                                                </div>
                
                                        </span>
                                </div>
                        </div>
                        <div class="product_tile_card">
                                <div class="cereals_product_tile_card">
                                        <span>
                                                <div class="product_tile_texts">
                                                        <p>Cereals</p>
                                                        <span class="store_description store_description_internal">business couldn't get more productive</span>
                                                        <img src="/images/cereals-removebg.png" alt="">
                                                </div>
                
                                                <div class="card_links">
                                                        <p><a href="">Learn more</a></p>
                                                        <a class="buy_link" href="">Buy</a>
                                                </div>
                                        </span>
                                </div>
                        </div>
                        <div class="product_tile_card">
                                <div class="grains_product_tile_card">
                                        <span>
                                                <div class="product_tile_texts">
                                                        <p>Grains</p>
                                                        <span class="store_description store_description_internal">We can make your business 'suck-seed'</span>
                                                        <img src="/images/grains-removebg.png" alt="">
                                                </div>
                
                                                <div class="card_links">
                                                        <p><a href="">Learn more</a></p>
                                                        <a class="buy_link" href="">Buy</a>
                                                </div>
                                        </span>
                                </div>
                        </div>
                </div>
                        <div class="tile_background_color">
                                <div class="product_tile_card">
                                        <div class="car_services_product_tile_card">
                                                <span>
                                                        <div class="product_tile_texts">
                                                                <p>Car services</p>
                                                                <span class="store_description store_description_internal">We show you how much we love your car</span>
                                                                <img src="/images/car_services-removebg.png" alt="">
                                                        </div>
                        
                                                        <div class="card_links">
                                                                <p><a href="">Learn more</a></p>
                                                                <a class="buy_link" href="">Buy</a>
                                                        </div>
                                                </span>
                                        </div>
                                </div>
                                <div class="product_tile_card">
                                        <div class="building_products_product_tile_card">
                                                <span>
                                                        <div class="product_tile_texts">
                                                                <p>Building products</p>
                                                                <span class="store_description store_description_internal">Lets help you build your dream home</span>
                                                                <img src="/images/barson_logo_2.jpeg" alt="">
                                                        </div>
                        
                                                        <div class="card_links">
                                                                <p><a href="">Learn more</a></p>
                                                                <a class="buy_link" href="">Buy</a>
                                                        </div>
                                                </span>
                                        </div>
                                </div>
                                <div class="product_tile_card">
                                        <div class="new_product_tile_card">
                                                <span>
                                                        <div class="product_tile_texts">
                                                                <p>new</p>
                                                                <span class="store_description store_description_internal">Explore our new products</span>
                                                                <img src="/images/baby_sitter-removebg.png" alt="">
                                                        </div>
                        
                                                        <div class="card_links">
                                                                <p><a href="">Learn more</a></p>
                                                                <a class="buy_link" href="">Buy</a>
                                                        </div>
                                                </span>
                                        </div>
                                </div>
                                <div class="product_tile_card">
                                        <div class="shear_nut_product_tile_card">
                                                <span>
                                                        <div class="product_tile_texts">
                                                                <p>Shear nut</p>
                                                                <span class="store_description store_description_internal">business couldn't get more productive</span>
                                                                <img src="/images/baby_sitter-removebg.png" alt="">
                                                        </div>
                        
                                                        <div class="card_links">
                                                                <p><a href="">Learn more</a></p>
                                                                <a class="buy_link" href="">Buy</a>
                                                        </div>
                                                </span>
                                        </div>
                                </div>
        
                        </div>
                
        </main>

        <!-- Footer -->
        <%- include('includes/footer') %> 
</body>
</html>