body{
        background-image: radial-gradient(circle, #ff0090, #f008a8, #da23c1, #bc39d7, #914beb, #6b6bfa, #3f82ff, #0094ff, #00b3ff, #00cfff, #00e9ff, #00fff0);
        background-repeat: no-repeat;
        font-family: 'Open Sans', sans-serif;
}

