main{
        margin: 0rem;
}

main div h1 span{
        display: inline-block;
}

main div .h1_text {
        font-size: 5rem;
}

div .store_description {
        font-size: 2.5rem;
        color: rgb(185, 182, 182);
}

.scroll{
        display: flex;
        overflow-x: auto;
        padding-left: 7rem;
}

.scroll::-webkit-scrollbar{
        width: 0;
}

.product_tile_card{
        display: inline-flex;
        height: 55rem;
        /* padding: 5px 5px 5px 10px; */
        border-radius: 6px;
        width: 34rem;
        margin: 15px;
        box-sizing: content-box;
        box-shadow: 3px 5px 15px rgb(155, 155, 155);
}
/* 
.product_tile_card:hover{
        border:1px solid rgb(253, 253, 253);
        transition: 1.5s;
} */

.product_tile_card .cashew_product_tile_card{
        border-radius: 6px;
        background-image: linear-gradient(45deg, rgb(146, 168, 98), rgb(60, 182, 60));
}

.product_tile_card .cashew_product_tile_card:hover, .product_tile_card .cashew_product_tile_card::after{
        background-image: linear-gradient(45deg, rgb(155, 177, 109), rgb(68, 182, 68));
        transition: 0.5s;
}

.product_tile_card .beverages_product_tile_card{
        border-radius: 6px;
        background-color: rgb(255, 255, 255);
}

.product_tile_card .beverages_product_tile_card:hover, .product_tile_card .beverages_product_tile_card::after{
        background-color: rgb(255, 250, 250);
        transition: 0.5s;
}


.product_tile_card .cereals_product_tile_card{
        border-radius: 6px;
        background-color: rgb(252, 245, 229);
}

.product_tile_card .cereals_product_tile_card:hover, .product_tile_card .cereals_product_tile_card::after{
        background-color: rgb(255, 249, 235);
        transition: 0.5s;
}


.tile_background_color{
        /* background-color: rgb(32, 32, 32); */
        /* background-image: linear-gradient(18deg, rgb(0, 0, 0), rgb(0, 0, 0), rgb(240, 240, 240)); */
        margin:0rem -3rem;
        padding-left: 3rem;
}

.product_tile_card .grains_product_tile_card{
        border-radius: 6px;
        background-color: rgb(209, 209, 209);
}

.product_tile_card .grains_product_tile_card:hover, .product_tile_card .grains_product_tile_card::after{
        background-color: rgb(239, 240, 238);
        transition: 0.5s;
}


.product_tile_card .car_services_product_tile_card{
        border-radius: 6px;
        background-color: rgb(233, 233, 233);
}


.product_tile_card .car_services_product_tile_card:hover, .product_tile_card .car_services_product_tile_card::after{
        background-color: rgb(220, 220, 220);
        transition: 0.5s;
}


.product_tile_card .building_products_product_tile_card{
        border-radius: 6px;
        background-color: rgb(255, 217, 114);
        background-repeat: no-repeat;
}

.product_tile_card .building_products_product_tile_card:hover, .product_tile_card .building_products_product_tile_card::after{
        background-color: rgb(255, 221, 128);
        transition: 0.5s;
}


.product_tile_card .new_product_tile_card{
        border-radius: 6px;
        background-color: rgb(211, 215, 217);
}


.product_tile_card .new_product_tile_card:hover, .product_tile_card .new_product_tile_card::after{
        background-color: rgb(182, 200, 209);
        transition: 0.5s;
}


.product_tile_card .new_product_tile_card p{
        color: red;
}

.product_tile_card .shear_nut_product_tile_card{
        border-radius: 6px;
        background-image: linear-gradient(45deg, rgba(138, 93, 93, 0.927), rgba(50, 50, 150, 0.892));

}

img{
        margin-top: 6rem;
        /* padding-left: 50px; */
        width: 500px;
        border-radius: 8px;
        transform: rotate(-15deg);
}

.card_links{
        margin-top: 5rem;
        text-align: center;
}

.scroll_card_links{
        margin-top: 5rem;
        text-align: center;
}

.product_tile_card .card_links p,
.cashew_page_product_tile_card .card_links p, 
.cereals_page_product_tile_card .card_links p, 
.beverages_page_product_tile_card .card_links p,
.grains_page_product_tile_card .card_links p{
        text-decoration: underline;
}

.product_tile_card .card_links .buy_link, 
.cashew_page_product_tile_card .card_links .buy_link, 
.cereals_page_product_tile_card .card_links .buy_link, 
.beverages_page_product_tile_card .card_links .buy_link,
.grains_page_product_tile_card .card_links .buy_link,
.car_services_page_product_tile_card .card_links .buy_link,
.building_products_page_product_tile_card .card_links .buy_link{
        color: white;
        font-size: 2rem;
        font-weight: 900;
        padding: 10px 30px;
        border-radius: 8px;
        background-color: black;
        text-decoration: none;
}

.product_tile_card .card_links .buy_link:hover,
.cashew_page_product_tile_card .card_links .buy_link:hover,
.beverages_page_product_tile_card .card_links .buy_link:hover,
.cereals_page_product_tile_card .card_links .buy_link:hover,
.grains_page_product_tile_card .card_links .buy_link:hover,
.car_services_page_product_tile_card .card_links .buy_link:hover,
.building_products_page_product_tile_card .card_links .buy_link:hover{
        color: rgb(227, 227, 227);
}

.beverages_page_product_tile_card .card_links .buy_link{
        /* color: white;
        font-size: 2rem;
        font-weight: 900; */
        padding: 15px 50px;
        border-radius: 12px;
        background-color: rgb(182, 10, 10);
}


.building_products_page_product_tile_card .card_links .buy_link{
        /* color: white;
        font-size: 2rem;
        font-weight: 900; */
        padding: 15px 50px;
        border-radius: 12px;
        background-color: rgb(235, 152, 20);
}


.car_services_page_product_tile_card .card_links .buy_link{
        /* color: white;
        font-size: 2rem;
        font-weight: 900; */
        padding: 15px 50px;
        border-radius: 12px;
        background-color: rgb(182, 182, 182);
}


.cereals_page_product_tile_card .card_links .buy_link{
        /* color: white;
        font-size: 2rem;
        font-weight: 900; */
        padding: 15px 50px;
        border-radius: 12px;
        background-color: rgb(238, 176, 76);
}


.grains_page_product_tile_card .card_links .buy_link{
        /* color: white;
        font-size: 2rem;
        font-weight: 900; */
        padding: 15px 50px;
        border-radius: 12px;
        background-color: rgb(122, 158, 16);
}

/* .grains_banner_and_products_bg{
        background-image: linear-gradient(90deg, rgb(248, 241, 220), rgb(32, 32, 32));
}

.cereals_banner_and_products_bg{
        background-image: linear-gradient(90deg, rgb(220, 244, 248), rgb(248, 241, 220));
}


.cashew_banner_and_products_bg{
        background-color: rgb(32, 32, 32);
} */